.hirmeos-widget {
  border: 1px solid gray;
  padding: 1px;
  margin: 0 !important;
  min-width: 500px;
}

.hirmeos-widget button {
  float: unset;
}

div.inner-content {
  padding: 10px 0 0 30px !important;
  margin:0 !important;
}

.metrics-widget-btn {
  display: block;
  height: 60px;
  width: 60px;
  border-radius: 30%;
  border: 2px solid black;
  background-color: white;
  padding: 0px;
  text-align: center;
  min-width: 20px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  color: black;
  margin: auto;
}

.metrics-pre-expand {
  overflow: auto;
  display: flex;
  margin: 0 !important;
  padding: 0 !important;
}

.metrics-count-container {
  float:left;
  padding: 10px 20px 10px 20px !important;
  margin: 0 !important;
}

.metrics-title {
  margin: 10px 0 0 0 !important;
  padding: 0 !important;
}

.metrics-details-container {
  float: left;
  padding: 15px 0 0 0 !important;
  margin: 0 !important;
  flex-grow: 100;
  text-align: center;
}

.table-row-head {
  height: 40px;
  text-align: left;
}

.table-row-body {
  height: 30px;
}

.table-row-body:hover {
  background-color: black;
  color: #ffffff;
  cursor: pointer;
}

.table-insert {
  border-top: 3px solid black;
  margin-bottom: 1px !important;
}

.textAlignCenter {
  text-align: center;
}

a.metrics-dashbord-link {
  text-align: center;
  width: 100%;
  margin: 0 !important;
  padding: 6px 12px !important;
}

p.button-measure-text {
  margin: 5px 0 0 0 !important;
  padding: 0 !important;
  text-align: center;
}

